In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
Dataset = pd.read_csv("dataset_LP_1.txt", names = ['x1', 'x2', 'x3', 'x4', 'y'])
Dataset.head()

        x1      x2      x3       x4  y
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0

In [49]:
msk = np.random.rand(len(Dataset)) < 0.7
Train = Dataset[msk]
Test = Dataset[~msk]

In [80]:
X_train = Train.iloc[:, :-1]
y_train = Train.iloc[:, -1]

X_test = Test.iloc[:, :-1]
y_test = Test.iloc[:, -1]

In [81]:
#X_train.head()
y_train

0       0
1       0
3       0
4       0
5       0
       ..
1365    1
1366    1
1369    1
1370    1
1371    1
Name: y, Length: 992, dtype: int64